body {
    overflow: hidden;
}

.nav-container {
    padding: 1rem;
    position: relative;
    z-index: 1000;
}

#book {
    background-color: white;
}

.first-page {
    width: 100%;
    height: 100%;
}

.first-page .page-content {
    margin: 10rem 1rem;
}

.page {
    background-color: #fffaf7;
    background-image: url(logo.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: center;
}

.page-content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;

}

.page ul {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

.page ul li {
    margin: 0.1rem;
}

.page ul li.year {
    color: #aa1515;
}

.page ul li span {
    float: left;
    width: 1.6rem;
}

#dd-spec .dropdown-content {
    max-height: 40rem;
    overflow: auto;
}
